.page-enter-active,
.page-leave-active {
  animation: coming 0.5s;
  animation-delay: 0.2s;
  opacity: 0;
}
.page-enter,
.page-leave-active {
  animation: going 0.5s;
}


@keyframes going {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-10px);
    opacity: 0;
  }
}
@keyframes coming {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}